.screen {
  background: linear-gradient(to right, rgb(146, 185, 149), rgb(35, 151, 70));
  height: 100vh;
  width: 100vw;
  position: relative;
}
.header {
  height: 100px;
}
.header_bar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.header-title {
  font-size: 50px;
  color: black;
  position: sticky;
  z-index: 1;
}
.user a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-size: 18px;
  color: white;
  transition: 0.3s;
}
.user a:hover {
  color: rgb(231, 226, 125);
}

.animation-area {
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translateY(-50%);
}
#circle {
  width: 1100px;
  height:1000px;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: rotate(0deg);
  transition: 1s;
}
.overlay {
  width: 0;
  height: 0;
  border-top: 500px solid #FFF;
  border-right: 490px solid transparent;
  border-bottom: 500px solid #FFF;
  border-left: 600px solid #FFF;
}
.contents {
  position: absolute;
}
.contents a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}
.one {
  top: 470px;
  right: 0px;
}
.two {
  top: 100px;
  left: 482px;
  transform: rotate(-90deg);
}
.three {
  bottom: 470px;
  left: 70px;
  transform: rotate(-180deg);
}
.control {
  position: absolute;
  top: 49%;
  right: 15%;
  transform: translateY(-50%);
  text-align: center;
}
.control img {
  width: 12%;
}
.control h3 {
  color: #fff;
  font-size: 24px;
  margin: 10px 0;
}
#upBtn {
  cursor: pointer;
}
#downBtn {
  cursor: pointer;
  transform: rotate(-180deg);
}

#animation {
  position: absolute;
  top: 270px;
  left: 270px;
  max-height: 150px;
}

/*せいちょうきろくのトップページCSS*/
.month {
  padding-top: 20px;
  padding-right: 105px;
}
.menu-title {
  font-size: 24px;
}
.menu {
  height: 30px;
  border-radius: 4px;
  padding: 3px;
}
.seichou {
  height: 100vh;
  width: 100vw;
  background-color: #f1f2ed;
}
.seichou-header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.seichou-title a {
  text-decoration: none;
  font-size: 50px;
  color: black;
}
.seichou-new a {
  text-decoration: none;
  font-size: 32px;
  color: black;
}

.seichou-main {
  height: calc(100vh - 100px);
  width: 100vw;
}
.main-contents {
  display: flex;
  justify-content: right;
  margin-right: 100px;
}
.records {
  height: calc(100vh - 100px); 
  width: 320px;
  background-color: #CBC3BC;
  border-radius: 15px 0 0 0;
  overflow: scroll;
  border-top: 1px groove gray;
  border-left: 1px groove gray;
}
.records-content {
  background-color: #f1f2ed;
  color: black;
  margin: 24px 0 24px 24px;
  border-radius: 15px;
  padding: 10px;
  border: 1px solid gray;
  height: 120px;
  width: 290px;
}
.record-text {
  word-break: break-all;
}
.record {
  height: calc(100vh - 100px); 
  width: 864px;
  background-color: #fff;
  background-color: #CBC3BC;
  border-radius: 0 15px 0 0;
  border-top: 1px groove gray;
  border-right: 1px groove gray;
}
.record-width {
  width: 100%;
  display: flex;
  justify-content: right;
  padding: 60px 15px 0 15px;
}
.edit-delete {
  display: flex;
  align-items: center;
}
.edit-delete-btn {
  margin-top: 20px;
  margin-left: 30px;
}
.edit-delete-btn a {
  text-decoration: none;
  color: black;
  transition: 3s;
}
.memory {
  padding: 30px 0 0 50px;
  font-size: 30px;
}
.title-date a {
  text-decoration: none;
  color: black;
  background:linear-gradient(transparent 70%, #ffff00f0 0%);
}

.date-title {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-right: 20px;
}
.image {
  margin-right: 35px;
}
.content {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-top: 200px;
  margin-right: 30px;
  font-size: 18px;
  word-break: break-all;
  height: 500px;
}

/*newページのCSS*/
.contents-new {
  height: calc(100vh - 100px); 
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #f1f2ed;
}
.new {
  height: calc(100vh - 100px);  
  width: 1000px;
  display: flex;
  justify-content: center;
  background-color: #CBC3BC;
  padding-top: 30px;
  border-radius: 15px 15px 0 0;
  border: 1px groove gray;
}
.container{
  height: 600px;
  width:800px;
  background-color: #fff;
  padding: 30px 24px 24px;
  border-radius: 15px;
  border: 1px groove gray;
}
.container input {
  height: 50px;
  width: 100%;
  margin-top: 10px;
  padding-left: 10px;
}
.container textarea {
  height: 200px;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}
.new-main {
  background-color: #f1f2ed;
  height: calc(100vh - 100px); 
  width: 100vw;
}